@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: none;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: none !important;
}
.ͼ4 .cm-line ::selection, .ͼ4 .cm-line::selection {
  background-color: #D9D9EA !important;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
